{% extends 'base.html.twig' %}

{% block body %}
    Symfony - Forms & Repositories - Live 13:00:00 CEST


    <ul>
    {% for v in videos %}
        <li><img src="https://img.youtube.com/vi/{{ v.youtubeId }}/hqdefault.jpg" style="width: 100px;" /> {{ v.title }}</li>
    {% endfor %}
    </ul>
{% endblock %}
