{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hey, mate!</h1>
            <p>
                Tu suis la série It works sur Youtube et tu souhaites tester ce que nous développons ensemble par toi-même . Bienvenue ! Si tu ne sais pas de quoi je parle ou tu desires savoir comment a ete fait cette application, je t'invite à me suivre sur Youtube.
            </p>
            <p style="text-align: center;">
                <a class="btn btn-primary btn-lg" href="http://youtube.anthonykgross.fr" role="button">Regarder la serie</a>
                <a class="btn btn-danger btn-lg" href="{{ url('youtube_connect') }}" role="button">Synchroniser avec Youtube</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Suivre</h2>
                <p>
                    Le but premier de cette application est de vous laisser l'opportunité de marquer comme "vues" les vidéos de la chaine ainsi que celles à venir. Cette fonctionnalité est notamment très utile pour ceux qui ont désactivé l'archivage de leur historique sur leur compte google.
                </p>
                {#<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <div class="col-md-4">
                <h2>Rechercher</h2>
                <p>
                    Un moteur de recherche est intégré que vous puissiez rechercher n'importe quelles vidéos à partir de son titre, sa description ou ses sous-titres. Tapez un mot clé, une expression ou encore une technologie, vous retrouverez tous les vidéos qui correspondent à vos critères.
                </p>
                {#<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
            </div>
            <div class="col-md-4">
                <h2>Annoter</h2>
                <p>
                    Il est souvent très difficile de comprendre une vidéo sans prendre de notes. En ayant été moi-même étudiant, je sais qu'on n'est pas souvent préparé à la prise de notes lors d'un "cours". Ici, vous aurez tout ce dont vous avez besoin pour y parvenir si vous le souhaitez.
                </p>
                {#<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
