body {
    padding-top: 4.5em;
}

/* SEARCH */
.search-result {
    text-align: center;
    padding: 5px;
    padding-top: 20px;
}
.card {
    margin-bottom: 10px;
}

.jumbotron {
    background-image: url('../images/background.png');
    color: #a9b7c6;
    background-color: #232525;
}

.final-captions {
    max-height: 400px;
    overflow-y: scroll;
}
.final-captions div {
    padding: 5px;
}
.final-captions div .fa{
    visibility: hidden;
    margin-right: 5px;
}

.final-captions div:hover {
    cursor: pointer;
    color: #666;
}
.final-captions div:hover .fa{
    visibility: visible;
    color:green;
}

.final-captions div.active {
    color: #666;
}
.final-captions div.active .fa {
    visibility: visible;
    color: red;
}
