body {
    padding-top: 4.5em;
}

/* SEARCH */
.search-result {
    text-align: center;
    padding: 5px;
    padding-top: 20px;
}
.card {
    margin-bottom: 10px;
}

.jumbotron {
    background-image: url('../images/background.png');
    color: #a9b7c6;
    background-color: #232525;
}